@font-face {
  font-family: 'FuturaPT-Book';
  src: url("~@/webfonts/FuturaPT-Book/FuturaPT-Book.eot");
  src: url("~@/webfonts/FuturaPT-Book/FuturaPT-Book.eot?#iefix") format('embedded-opentype'),url("~@/webfonts/FuturaPT-Book/FuturaPT-Book.woff2") format('woff2'), url("~@/webfonts/FuturaPT-Book/FuturaPT-Book.woff") format('woff'), url("~@/webfonts/FuturaPT-Book/FuturaPT-Book.ttf") format('truetype'), url("~@/webfonts/FuturaPT-Book/FuturaPT-Book.svg#FuturaPT-Book") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Demi';
  src: url("~@/webfonts/FuturaPT-Demi/FuturaPT-Demi.eot");
  src: url("~@/webfonts/FuturaPT-Demi/FuturaPT-Demi.eot?#iefix") format('embedded-opentype'), url("~@/webfonts/FuturaPT-Demi/FuturaPT-Demi.woff2") format('woff2'), url("~@/webfonts/FuturaPT-Demi/FuturaPT-Demi.woff") format('woff'), url("~@/webfonts/FuturaPT-Demi/FuturaPT-Demi.ttf") format('truetype'), url("~@/webfonts/FuturaPT-Demi/FuturaPT-Demi.svg#FuturaPT-Demi") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Light';
  src: url("~@/webfonts/FuturaPT-Light/FuturaPT-Light.eot");
  src: url("~@/webfonts/FuturaPT-Light/FuturaPT-Light.eot?#iefix") format('embedded-opentype'), url("~@/webfonts/FuturaPT-Light/FuturaPT-Light.woff2") format('woff2'), url("~@/webfonts/FuturaPT-Light/FuturaPT-Light.woff") format('woff'), url("~@/webfonts/FuturaPT-Light/FuturaPT-Light.ttf") format('truetype'), url("~@/webfonts/FuturaPT-Light/FuturaPT-Light.svg#FuturaPT-Light") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Heavy';
  src: url("~@/webfonts/FuturaPT-Heavy/FuturaPT-Heavy.eot");
  src: url("~@/webfonts/FuturaPT-Heavy/FuturaPT-Heavy.eot?#iefix") format('embedded-opentype'), url("~@/webfonts/FuturaPT-Heavy/FuturaPT-Heavy.woff2") format('woff2'), url("~@/webfonts/FuturaPT-Heavy/FuturaPT-Heavy.woff") format('woff'), url("~@/webfonts/FuturaPT-Heavy/FuturaPT-Heavy.ttf") format('truetype'), url("~@/webfonts/FuturaPT-Heavy/FuturaPT-Heavy.svg#FuturaPT-Heavy") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-LightObl';
  src: url("~@/webfonts/FuturaPT-LightObl/FuturaPT-LightObl.eot");
  src: url("~@/webfonts/FuturaPT-LightObl/FuturaPT-LightObl.eot?#iefix") format('embedded-opentype'), url("~@/webfonts/FuturaPT-LightObl/FuturaPT-LightObl.woff2") format('woff2'), url("~@/webfonts/FuturaPT-LightObl/FuturaPT-LightObl.woff") format('woff'), url("~@/webfonts/FuturaPT-LightObl/FuturaPT-LightObl.ttf") format('truetype'), url("~@/webfonts/FuturaPT-LightObl/FuturaPT-LightObl.svg#FuturaPT-LightObl") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Light';
  src: url("~@/webfonts/Circe-Light/Circe-Light.eot");
  src: url("~@/webfonts/Circe-Light/Circe-Light.eot?#iefix") format('embedded-opentype'), url("~@/webfonts/Circe-Light/Circe-Light.woff2") format('woff2'), url("~@/webfonts/Circe-Light/Circe-Light.woff") format('woff'), url("~@/webfonts/Circe-Light/Circe-Light.ttf") format('truetype'), url("~@/webfonts/Circe-Light/Circe-Light.svg#Circe-Light") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Bold';
  src: url("~@/webfonts/Circe-Bold/Circe-Bold.eot");
  src: url("~@/webfonts/Circe-Bold/Circe-Bold.eot?#iefix") format('embedded-opentype'), url("~@/webfonts/Circe-Bold/Circe-Bold.woff2") format('woff2'), url("~@/webfonts/Circe-Bold/Circe-Bold.woff") format('woff'), url("~@/webfonts/Circe-Bold/Circe-Bold.ttf") format('truetype'), url("~@/webfonts/Circe-Bold/Circe-Bold.svg#Circe-Bold") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-ExtraBold';
  src: url("~@/webfonts/Circe-ExtraBold/Circe-ExtraBold.eot");
  src: url("~@/webfonts/Circe-ExtraBold/Circe-ExtraBold.eot?#iefix") format('embedded-opentype'), url("~@/webfonts/Circe-ExtraBold/Circe-ExtraBold.woff2") format('woff2'), url("~@/webfonts/Circe-ExtraBold/Circe-ExtraBold.woff") format('woff'), url("~@/webfonts/Circe-ExtraBold/Circe-ExtraBold.ttf") format('truetype'), url("~@/webfonts/Circe-ExtraBold/Circe-ExtraBold.svg#Circe-ExtraBold") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Regular';
  src: url("~@/webfonts/Circe-Regular/Circe-Regular.eot");
  src: url("~@/webfonts/Circe-Regular/Circe-Regular.eot?#iefix") format('embedded-opentype'), url("~@/webfonts/Circe-Regular/Circe-Regular.woff2") format('woff2'), url("~@/webfonts/Circe-Regular/Circe-Regular.woff") format('woff'), url("~@/webfonts/Circe-Regular/Circe-Regular.ttf") format('truetype'), url("~@/webfonts/Circe-Regular/Circe-Regular.svg#Circe-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin futura($style) {
  @if $style==book {
    font-family: 'FuturaPT-Book', Helvetica, sans-serif;
    font-weight: 300;
  }

  @if $style==demi {
    font-family: 'FuturaPT-Demi', Helvetica, sans-serif;
  }

  @if $style==light {
    font-family: 'FuturaPT-Light', Helvetica, sans-serif;
  }

  @if $style==heavy {
    font-family: 'FuturaPT-Heavy', Helvetica, sans-serif;
  }

  @if $style==lightobl {
    font-family: 'FuturaPT-LightObl', Helvetica, sans-serif;
  }
}

@mixin circe($style) {
  @if $style==light {
    font-family: 'Circe-Light', Helvetica, sans-serif;
  }
  @if $style==bold {
    font-family: 'Circe-Bold', Helvetica, sans-serif;
  }
  @if $style==extrabold {
    font-family: 'Circe-ExtraBold', Helvetica, sans-serif;
  }
  @if $style==regular {
    font-family: 'Circe-Regular', Helvetica, sans-serif;
  }
}