// resolutions
$ultrawide: 4096px;
$mac: 2560px;
$base: 1920px;
$middlescreen: 1660px;
$macbookair: 1440px;
$bignotebooks: 1280px;
$container: 1170px;
$notebooks: 1160px;
$netbooks: 1024px;
$tablets: 823px;
$minitablets: 602px;
$phones: 480px;
$minphones: 360px;
$iphones: 320px;
$phonesminheight: 415px;
$phonesmaxheight: 823px;
$pixel: 411px;
$iphonex: 375px;
$vpheight: 880px;
$vpheightavg: 780px;
$vpheightmin: 720px;